<!DOCTYPE html>

    <head>

        <title> Pagina de ADM </title>

    </head>

    <body>

        <br><br><br><center> <h1> Bem vindo de volta, ADM :) </h1>
        <br><br><a href = "/check"> <button>Fiscalizar</button> </a></center>

    </body>

</html>